<!DOCTYPE html>
<html>
<head th:replace="layout/head"></head>
<body>
	<nav th:replace="layout/navbar"></nav>

	<div class="container">
		<div class="row justify-content-center row-search-bar">
			<div class="col-12 col-md-10 col-lg-8 mb-4">
				<div class="principal-title">Cosa Nostra</div>
			</div>
			<div class="col-12 col-md-10 col-lg-8">
				<form method="GET" action="/search" class="card card-sm">
					<div class="card-body row no-gutters align-items-center">
						<div class="col-auto">
							<i class="fas fa-search h4 text-body"></i>
						</div>
						<div class="col">
							<input
								class="form-control form-control-lg form-control-borderless"
								type="search" name="search" id="search"
								placeholder="Film, music, artist ...">
						</div>

						<div class="col-auto">
							<button class="btn btn-lg btn-dark" type="submit">Search</button>
						</div>

					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="human"
							name="human"> <label class="form-check-label" for="human">Human</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="painting"
							name="painting"> <label class="form-check-label" for="painting">Painting / sculpture</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="book"
							name="book"> <label class="form-check-label" for="book">Literary work</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="music"
							name="music"> <label class="form-check-label" for="music">Music</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="film"
							name="film"> <label class="form-check-label" for="film">Film / TV show</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="autre"
							name="autre" checked> <label class="form-check-label" for="autre">All types of results</label>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>