<!DOCTYPE html>
<html>
	<head th:replace="layout/head"></head>
	<body>
		<nav th:replace="layout/navbar"></nav>	
	
		<div class="container">
	      <div class="row justify-content-center row-search-bar">
			<div class="col-12 col-md-10 col-lg-8 mb-4">
				<div class="principal-title">Cosa Nostra</div>
			</div>	
		      	<div class="col-12 col-md-10 col-lg-8">
	               <form method="GET" action="/search" class="card card-sm">
	                   <div class="card-body row no-gutters align-items-center">
	                       <div class="col-auto">
	                           <i class="fas fa-search h4 text-body"></i>
	                       </div>
	                       <div class="col">
	                           <input class="form-control form-control-lg form-control-borderless" type="search" name="search" id="search" placeholder="Film, musique, artiste ..">
	                       </div>
	                       <div class="col-auto">
	                           <button class="btn btn-lg btn-dark" type="submit">Search</button>
	                       </div>
	                   </div>
	               </form>
	           </div>    
	      </div>
		</div>
	</body>
</html>